body {
  margin: 0;
  background-color: rgb(245, 245, 245);
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/header.jpg");
  background-size: cover;
  background-position-x: center;
  border-bottom: 4px solid black;
}



.search-all {
  margin: 0.5rem;
  width: 100%;
}

.xxx {

}

.header-title {
  height: 1.3em;
  width: 80%;
  font-size: 9em;
  margin: 0 0 0 .5%;
  font-family: cursive;
}

.header-btns {
    display: inline-flex;
    margin: 2% 0 0 10.3%;
    width: 25.5%;
    height: 6vh;
}

.main-page {
  margin: 0;
  background-image: url('../assets/brick2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
}


.tag-container {
  height: 60vh;
  width: 20%;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2.5% 0 0 13.5%;
}

.recipe-tag {
  height: 125px;
  width: 100px;
}

.tag-img {
  border: 3px solid blue;
  border-radius: 50%;
  height: 4.5em;
  width: 4.5em;
  margin: 0 0 0 12%;
}

.tag-txt {
font-size: smaller;
font-weight: bold;
}

.recipe-img {
  border-bottom: 2px solid black;
  ;
  width: 100%;
  border-radius: 3px;
}

.recipe-img:hover {
  opacity: 80%;
  border-radius: 3px;
}

.filter-btn {
  margin: 0.5rem;
  width: 80%;
}

.populate-recipes {
  -webkit-column-count: 3;
  -webkit-column-gap: 3em;
  column-count: 3;
  column-gap: 3em;
}

.recipe-title {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.recipe-card {
  border: 2px solid black;
  position: relative;
  display: inline-block;
  width: 80%;
  height: 20%;
  margin: 10%;
  background: #FFF;
  border-radius: 3px;
  z-index: 1;
}

.recipe-card-info {
  display: block;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.recipe-card-images {
  width: 10%;

}
.display-recipe {
    position: fixed;
    top: 30px;
    left: 10%;
    height: 80vh;
    width: 80%;
    z-index: 123;
    border: 2px solid blue;
    background-color: white;
}
.hidden {
  display: none;
}
