body {
  margin: 0;
  background-color: rgb(245, 245, 245);
}

header {
  border-bottom: 4px solid black;
  background-image: url("../assets/header2.jpg");
  background-position-x: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.search-all {
  margin: 0.5rem;
  box-shadow: 1px 1px 1px 1px lightgrey;
  border: 2px solid lightgrey;
  width: 15%;
  height: 2rem;
  font-size: larger;
}

.filter-btn {
  margin: 0.5rem;
  box-shadow: 1px 1px 1px 1px lightgrey;
  border: 2px solid lightgrey;
  width: 15%;
  height: 2.4rem;
  font-size: larger;
}

.filter-btn,
.recipe-card-images {
  cursor: grab;
}

.header-title {
  margin: 0;
  width: 100%;
  height: 1.3em;
  font-family: cursive;
  font-size: 10em;
  font-weight: lighter;
  text-align: center;
}

.header-btns {
  display: inline-flex;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
  height: 7vh;
}

.main-page {
  margin: 0;
  background-attachment: fixed;
  background-image: url('../assets/tomato.jpg');
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.tag-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 3% 0 3%;
  width: 94%;
  height: 20vh;
}

.tag-img {
    margin-top: 5%;
    box-shadow: 2px 2px 2px 2px grey;
    border: 3px solid lightgrey;
    border-radius: 50%;
    width: 6em;
    height: 6em;
}

.tag-img:hover {
  opacity: 85%;
  cursor: grab;
  margin-top: 5%;
  box-shadow: 2px 2px 2px 2px grey;
  border: 3px solid lightgrey;
  border-radius: 50%;
  width: 6.6em;
  height: 6.6em;
}

.tag-txt {
  position: relative;
  left: 10%;
  margin: 0;
  color: black;
  font-size: larger;
  font-weight: bold;
}

.recipe-img {
  border-bottom: 2px solid grey;
  border-radius: 3px;
  width: 100%;
}

.recipe-img:hover {
  opacity: 80%;
  cursor: grab;
  border-radius: 3px;
}

.populate-recipes {
  column-gap: 2em;
  column-count: 3;
}

.recipe-title {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  text-align: center;
}

.recipe-card {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 10% 10% 10% 20%;
  box-shadow: 1px 1px 1px 1px rgba(245,255,250,.7);
  border: 2px solid grey;
  border-radius: 3px;
  background:rgb(245,255,250);
  width: 65%;
}

.recipe-card-info {
  display: block;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin: 0 0 2% 0;
}

.recipe-card-images {
  width: 10%;
}

.display-recipe {
    position: fixed;
    top: 30px;
    top: 10%;
    bottom: 10%;
    left: 10%;
    z-index: 123;
    box-shadow: 1px 1px 1px 1px rgba(245,255,250,.7);
    border: 2px solid grey;
    background-color: rgb(245,255,250);
    width: 80%;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

#recipe-img-large {
  margin-top: 3em;
  margin-left: 2em;
  width: 90%;
}

#recipe-title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: cursive;
  font-size: 400%;
  font-weight: normal;
}

.close-icon {
  display: block;
  margin:2% 0 0 95%;
  font-size: 3em;
}

.hidden {
  display: none;
}

.recipe-ingredients {
  display: block;
  margin: 1rem 2em 2em 5em;
  width: 30%;
}

.recipe-instructions {
  display: block;
  margin: 1rem 2em 2em 5em;
  width: 30%;
}

.ingredients-list {
margin: 1rem;
}

.bottom-row{
  display: flex;
}

ul {
  style: none;
  padding: 0;
}

li {
  padding-top: 1rem;
  font-size: 1.5em;
}

.grocery-total {
  font-size: xx-large;
}

.pop-title {
  font-size: xx-large;
}
